.body {
    font-family: Montserrat;
}

.top {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 40%;
    grid-row-gap: 40%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    font-size: 15px;
}

.right {
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    display: flex;
    right: 30px;
    position:absolute;
}

.left {
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 50%;
    padding-left: 0;
    display: flex;
    position:absolute;
    left: 30px;
}

.main {
    color: #000;
    transition: 300ms;
}

.main:hover {
    color: #009402;
}

.about {
    color: #000;
    transition: 300ms;
}

.about:hover {
    color: #009402;
}

.learn {    
    color: #000;
    transition: 300ms;
}

.learn:hover {
    color: #009402;
}

.share {
    color: #000;
    transition: 300ms;
}

.share:hover {
    color: #009402;
}

.div-block-2 {
    margin-right: -22.5px;
    margin-left: -22.5px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
}

.login {
    width: auto;
    color: #009402;
}

.div-block-3 {
    margin-right: -22.5px;
    margin-left: -22.5px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
}

.signup, .user {
    width: auto;
    transition: 300ms;
    color: #000;
}

.signup:hover, .user:hover {
    color: #009402;
}

.center {
    display: flex;
    width: auto;
    height: 0px;
    margin-top: 21%;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
}

.message {
    background-color: blue;
    height: 40px;
    margin-bottom: 10px;
    opacity: 0;
    color: white;
    text-align: center;
    line-height: 40px;
}

.form {
    display: flex;
    width: 300px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.field-label-2 {
    font-weight: 100;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.w-input {
    border: 0.5px solid rgb(201, 201, 201);
    text-align: center;
    width: 300px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Montserrat;
}

.submit {
    margin-top: 40px;
    background-color: #009402;
    color: white;
    border: none;
    font-family: Montserrat;
    width: 300px;
    height: 40px;
    transition:300ms;
    opacity: 1;
}

.signup-redirect {
    text-align: center;
    margin-top: 20px;
    color: #000;
    transition: 300ms;
}

.signup-redirect:hover {
    color: #009402;
}

.submit:hover {
    opacity: 0.6;
}

.w-form-done {
    visibility: hidden;
}

.w-form-fail {
    visibility: hidden;
}

::placeholder {
    font-family: Montserrat;
}